/* Layout */
@import url("../fonts/stylesheet.css");


@font-face {
  font-family: "opensans-reg";
  src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: "opensans-light";
  src: url('../fonts/OpenSans-Light.ttf');
}

@font-face {
  font-family: "opensans-semibold";
  src: url('../fonts/OpenSans-Semibold.ttf');
}

@font-face {
  font-family: "opensans-bold";
  src: url('../fonts/OpenSans-Bold.ttf');
}



/* Core Style Guide
=================================================== */

h2 {
  color: #444A59;
  margin-bottom: 30px;
  margin-top: 0px;
  font-size: 2em;
  /* line-height: 1.3em; */
  font-family: opensans-reg;
}

p {
  font-family: opensans-reg;
  color: #7C808A;
  font-size: 1em;
  line-height: 1.6em;
  margin: 0px;
}

ul {
  list-style: none;
  padding: 0px;
}

.white-bg {
  background-color: #ffffff;
}


/* Tutor Profile
=================================================== */


/* AWESOME FONT-SMOOTHING! */

html, html a {
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

a, a:hover {
  text-decoration: none;
}

body {
  font-family: opensans-light;
  /* background: #333 url("../img/bg.jpg") no-repeat center center fixed; */
  background-size: cover;
  margin: 0;
  width: 100%;
  background-color: #F5F6F6;
}


.teacher-profile {
  background: #444A59;
  -moz-box-shadow:    0px 1px 3px 0px rgba(0,0,0,0.40);
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.40);
  box-shadow:         0px 1px 3px 0px rgba(0,0,0,0.40);
  border-radius: 3px;

  margin-bottom: 50px;
  margin-top: 50px;
  padding: 0;
  overflow: hidden;
}


.head-section {
  background-image: linear-gradient(-246deg, #4E5A66 0%, #444A59 90%);
  padding: 50px;
}

.profile-photo {
  border-radius: 200px;
  width: 114px;
  height: 114px;
  float: left;
  overflow: hidden;
}
.teacher-photo{
  display: inline-block;
}
.teacher-photo img {
  width: 114px;
}

.teacher-summary {
  display: inline-block;
  margin-left: 27px;
  margin-top: 12px;
}
.teacher-name {
  color: #ffffff;
  margin-bottom: 5px;
  margin-top: 0px;
  max-width: 400px;
}
.teacher-school {
  margin-bottom: 8px;
}
.light-text-color {
  color: #fff;
}

.contact-segment-options {
  max-width: 1200px;
  margin-left: -1%;
  margin-right: -1%;
}
.contact-segment-option {
  color: white;
  padding: 14px 20px 14px 20px;
  background-color: #2F333E;
  font-family: opensans-semibold;
  text-align: center;
  font-size: 0.9em;
}
.hire {
  background-color: #F55466;
  letter-spacing: 0.1em;
  -webkit-transition: All 0.4s ease;
  -moz-transition: All 0.4s ease;
  -o-transition: All 0.4s ease;
  -ms-transition: All 0.4s ease;
  transition: All 0.4s ease;
}
.hire:hover {
  text-decoration: none;
  background-color: #CE4655;
}
.contact-icon {
  margin-right: 5px;
}


.teacher-profile-segment {
  width: 100%;
  padding: 50px 50px 0 50px;
  clear: both;
}


.teacher-education-school {
  margin-top: 30px;
}
.school-text {
  float: left;
}
.school-name {
  font-family: opensans-semibold;
  margin-bottom: 5px;
  margin-top: 0;
  font-size: 1.3em;
}
.course-name {
  margin: 0;
}
.school-logo {
  float: right;
}
.school-logo img {
  width: 150px;
}


.reviews {
  list-style: none;
  padding: 0px;
}
.review {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #D2D2D6;
}
.review-date {
  margin-top: 10px;
}
.review-customer-summary {
  display: inline-block;
  margin-left: 15px;
}
.review-customer-photo {
  width: 70px;
  height: 70px;
}
.review-customer-photo img {
  min-width: 70px;
  min-height: 70px;
  max-width: 100px;
  max-height: 100px;
}
.review-customer-name {
  font-size: 1.3em;
  font-family: opensans-semibold;
  margin-bottom: 5px;
  margin-top: 13px;
}
.star {
  display: inline;
  color: white;
  font-family: opensans-reg;
}
.review-count {
  margin-left: 5px;
}
.star .fa-star {
  color: #DDBA76;
  font-size: 1.4em;
  margin-right: 1px;
}
.review-content {
  clear: both;
  margin-top: 35px;
}

.red-button {
  color: white;
  padding: 14px 30px 14px 30px;
  background-color: #F55466;
  border-radius: 3px;
  text-align: center;
  font-family: opensans-semibold;
  font-size: 0.9em;
  letter-spacing: 0.1em;
  -webkit-transition: All 0.4s ease;
  -moz-transition: All 0.4s ease;
  -o-transition: All 0.4s ease;
  -ms-transition: All 0.4s ease;
  transition: All 0.4s ease;
}
.red-button:hover {
  text-decoration: none;
  background-color: #CE4655;
}
.teacher-profile-cta {
  margin: 45px auto 0px auto;
  width: 60%;
  padding-bottom: 50px;
}

/* Responsive Styling */

@media (max-width: 767px) {
  
  .teacher-profile {
    border-radius: 0;
    margin: 0;
  }

  .teacher-summary {
    text-align: center;
    display: block;
    margin-left: 0;
  }
  .teacher-name {
    margin: 0 auto 5px auto;

  }
  .teacher-photo {
    display: block;
    float: none;
    margin: 10px auto 30px auto;
  }

  .head-section {
    padding: 50px 30px 50px 30px;
  }

  .profile-photo {
    width: 100px;
    height: 100px; 
  }

  .teacher-name {
    max-width: 210px;
  }

  .contact-segment-option span {
    display: none;
  }

  .teacher-profile-segment {
    padding: 50px 30px 0 30px;
  }

  .school-logo {
    float: left;
    margin-top: 15px;
  }

  h2 {
    font-size: 1.8em;
  }

  .review-customer-photo {
    width: 55px;
    height: 55px;
  }
  .review-customer-name {
    margin-top: 7px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {

}



/* Quotes
=================================================== */

.dashboard-header {
  background: #333 url("../img/guidance-bg-1.jpg") no-repeat;
  background-size: cover;
  background-position: 55% 0%;
  background-color: #444A59;
  padding: 0 0 40px 0;
}
.wrap {
  width: 100%;
}
.header-content {
  clear: both;
}
.dashboard-header h1, .dashboard-header p {
  color: white;
  line-height: 1.4em;
  text-align: center;
}
.navigation {
  height: 50px;
  margin-top: 20px;
  margin-bottom: 50px;  
}
.yodaa-logo {
  float: left;
  width: 120px;
}
.yodaa-logo img {
  width: 100%;
}
.contact-yodaa {
  float: right;
  color: white;
  font-family: opensans-semibold;
  margin-top: 8px;
  opacity: 0.8;
  -webkit-transition: All 0.4s ease;
  -moz-transition: All 0.4s ease;
  -o-transition: All 0.4s ease;
  -ms-transition: All 0.4s ease;
  transition: All 0.4s ease;
}
.contact-yodaa:hover {
  color: #fff;
  opacity: 1;
}
.need-help {
  font-family: opensans-semibold;
  margin-right: 20px;
}

.quotes-dashboard {
  padding: 30px 0 50px 0;
}

.quote {
  width: 100%;
  border: 1px solid #ebebeb;
  display: inline-block;
  background: #FFFFFF;
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.20);
  -moz-box-shadow:    0px 1px 4px 0px rgba(0,0,0,0.20);
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.20);
  border-radius: 3px;
  margin-bottom: 28px;
  padding: 0;
  overflow: hidden;
  position: relative;
  -webkit-transition: All 0.4s ease;
  -moz-transition: All 0.4s ease;
  -o-transition: All 0.4s ease;
  -ms-transition: All 0.4s ease;
  transition: All 0.4s ease;
}
.quote:hover {
  opacity: 0.8;
}
.quote-profile {
  padding: 30px;
}
.quote-profile .quote-photo img {
  width: 80px;
}
.quote-photo {
    width: 80px;
    height: 80px;
}
.quote .teacher-photo {
  margin-right: 20px;
  margin-bottom: 20px;
}
.quote .teacher-summary {
  margin-left: 0;
  max-width: 198px;
  margin-top: 5px;
}
.quote .teacher-name {
  color: #444A59;
  font-size: 1.4em;
}
.quote .teacher-school {
  color: #7C808A;
}
.quote .review-count {
  color: #7C808A;;
}
.quote-message-preview {
  width: 100%;
  background-color: #F5F6F6;
  padding: 20px 30px 15px 30px;
}
.small-caps {
  text-align: center;
  font-size: 0.9em;
  letter-spacing: 0.1em;
  font-family: opensans-semibold;
  margin-top: 12px;
}

/* Modal Styling */

.modal-custom {
  margin-bottom: 100px;
}

@media (min-width: 992px) {
  .modal-custom {
    width: 780px;
  }
}
@media (max-width: 767px) {
  .modal-custom {
    margin-top: 0px;
  }
}
.modal-content {
  border: none;
  border-radius: 3px;
}
.close-modal {
  position: absolute;
  top: 30px;
  right: 30px;
}
.close-modal img {
  width: 18px;
  opacity: 0.7;
}

/* Responsive Quote-Dashboard Styling */

@media (max-width: 767px) {
  .quote .teacher-summary {
    display: inline-block;
    text-align: center;
  }
  .quote-profile {
    text-align: center;
  }
  .quote .teacher-photo {
    display: inline-block;
  }
  .dashboard-header h1 {
    text-align: center;
  }
  .need-help {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    padding: 0;
  }
}

.quotes-dashboard button {
  text-align: left;
}
